/* ===================
    GENERAL STYLES
=================== */

:root {
    --black: #010101;
    --red: #EB2828;
}

html {
    font-size: 20px;
}

body {
    background-color: var(--black);
    margin: 0;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6, p {
    color: white;
    font-family: 'Libre Baskerville', serif;
    margin: 0;
}

h1 {
    font-size: 7vw;
    line-height: 8vw;
}

h2 {
    font-size: 6rem;
    font-style: italic;
    line-height: 7.5rem;
}

h3 {
    font-size: 4rem;
    font-style: italic;
    line-height: 4.5rem;
}

p.text-large {
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 0 0 2.5vw 2.5vw;
}

p.text-xlarge {
    font-size: 7rem;
    line-height: 7.5rem;
    margin: 0 0 2.5vw 2.5vw;
}

/* ===================
    SECTIONS
=================== */

section {
    min-height: 100vh;
}
section.active {
    visibility: visible;
}

section > .section-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

section.section > .section-wrapper {
    min-height: 100vh;
    position: relative;
}

section > .section-wrapper > .section-inner {
    padding: 0 7vw;
    position: relative;
    z-index: 1;
}

section .section-inner.inner-middle {
    margin: auto;
    text-align: center;
}

section .section-inner.inner-middle {
    margin: auto;
    text-align: center;
}

section .section-inner.inner-left-bottom {
    margin-right: auto;
    margin-top: auto;
}

/* ===================
    SECTION 01
=================== */

.section-heart .section-wrapper > .section-inner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.section-heart > .section-wrapper .section-inner.inner-middle-left {
    left: 17vw;
}

.section-heart > .section-wrapper > .section-inner.inner-middle-left div:nth-of-type(2n) {
    position: relative;
    z-index: -1;
}

.section-heart > .section-wrapper > .section-inner.inner-middle-right {
    right: 17vw;
    transform: scale(-1, 1) translateY(-50%);
}

section .section-wrapper .img-heart {
    /*position: absolute;
    right: 0;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    z-index: -1;*/
    text-align: center;
}

section > .section-wrapper .img-heart img {
    width: 50vw;
    max-height: 90vh;
    animation: img-heartbeat 1.25s infinite;
}

@keyframes img-heartbeat {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(1.05);
    }
    20% {
        transform: scale(1);
    }
}

.section-1 .section-inner:nth-of-type(1) h1 div:nth-of-type(1) {
    animation: text-toggle-01 5s infinite;
    opacity: 0;
}

.section-1 .section-inner:nth-of-type(1) h1 div:nth-of-type(2) {
    animation: text-toggle-02 5s infinite;
    opacity: 0;
}

.section-1 .section-inner:nth-of-type(1) h1 div:nth-of-type(3) {
    animation: text-toggle-03 5s infinite;
    opacity: 0;
}

.section-1 .section-inner:nth-of-type(1) h1 div:nth-of-type(4) {
    animation: text-toggle-04 5s infinite;
    opacity: 0;
}

.section-1 .section-inner:nth-of-type(3) h1 div:nth-of-type(1) {
    animation: text-toggle-05 5s infinite;
    opacity: 0;
}

.section-1 .section-inner:nth-of-type(3) h1 div:nth-of-type(2) {
    animation: text-toggle-06 5s infinite;
    opacity: 0;
}

.section-1 .section-inner:nth-of-type(3) h1 div:nth-of-type(3) {
    animation: text-toggle-07 5s infinite;
    opacity: 0;
}

.section-1 .section-inner:nth-of-type(3) h1 div:nth-of-type(4) {
    animation: text-toggle-08 5s infinite;
    opacity: 0;
}

@keyframes text-toggle-01 {
    1% {
        opacity: 1
    }
    24% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    98% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
}

@keyframes text-toggle-02 {
    24% {
        opacity: 0;
    }
    25% {
        opacity: 1
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes text-toggle-03 {
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1
    }
    74% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}

@keyframes text-toggle-04 {
    74% {
        opacity: 0;
    }
    75% {
        opacity: 1
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes text-toggle-06 {
    1% {
        opacity: 1
    }
    24% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    98% {
        opacity: 0;
    }
    99% {
        opacity: 1;
    }
}

@keyframes text-toggle-05 {
    24% {
        opacity: 0;
    }
    25% {
        opacity: 1
    }
    49% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

@keyframes text-toggle-08 {
    49% {
        opacity: 0;
    }
    50% {
        opacity: 1
    }
    74% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
}

@keyframes text-toggle-07 {
    74% {
        opacity: 0;
    }
    75% {
        opacity: 1
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* ===================
    SECTION 02
=================== */

.section-2 h2 {
    text-transform: uppercase;
    font-style: normal;
    font-size: 5rem;
    line-height: 6.5rem;
    position: relative;
}

.section-2 h2 svg {
    position: absolute;
    left: 50%;
    right: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}

.section-2 h2:nth-of-type(2) svg {
    width: 75%;
}

/* ===================
    SECTION 03
=================== */

.section-3 .text-transformed {
    font-style: italic;
}

.section-3 .flex-column {
    display: flex;
    flex-direction: row;
    text-align: center;
}
.section-3 .flex-column div:not(.text-transformed) div {
    display: flex;
    height: 100vh;
    width: 100%;
}

.section-3 .flex-column div:not(.text-transformed) p {
    margin: auto;
    padding: 30px;
}

.section-3 .text-transformed {
    transform: perspective(200px) rotateX(5deg);
}


/* ===================
    SECTION 05
=================== */

.section-fullwidth {
    position: relative;
}

section .text-fullwidth {
    /*transform: translate(0%, -50%);*/
    text-transform: uppercase;
    text-align: center;
    white-space: nowrap;
    transform: translateX(-5vw);
}

section .text-fullwidth p i {
    color: var(--red);
}

section .text-fullwidth p:nth-of-type(1) {
    line-height: 2.5rem;
}

section .text-fullwidth p:nth-of-type(2) {
    font-size: 5rem;
    line-height: 3.5rem;
}
section .text-fullwidth p:nth-of-type(3) {
    font-size: 6rem;
    line-height: 4.5rem;
}
section .text-fullwidth p:nth-of-type(4) {
    font-size: 8rem;
    line-height: 6rem;
}
section .text-fullwidth p:nth-of-type(5) {
    font-size: 11rem;
    line-height: 9rem;
}
section .text-fullwidth p:nth-of-type(6) {
    font-size: 17rem;
    line-height: 14rem;
}
section .text-fullwidth p:nth-of-type(7) {
    font-size: 25rem;
    line-height: 19rem;
}
/* ===================
    SECTION 07
=================== */

.section-7 {
    background-color: var(--red);
}
